<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  
  <!-- lazy, number, trim -->
  <div id="app">
    <!-- lazy : 엔터키를 누른후에 텍스트가 바뀜 -->
    <input v-model.lazy="myText">
    <p>엔터키 및 화면 다른곳을 클릭한후 표시됨 {{myText}}</p>

    <!-- 텍스트가 실시간으로 바뀜 -->
    <input v-model="myText2">
    <p>입력 후 표시 {{myText2}}</p>

    <!-- number로 인식되서 parseInt를 안해줘도됨 -->
    <input v-model.number="myNumber" type="number">
    <p>100을 더해서 표시 : {{100+myNumber}}</p>

    <input v-model.trim="myText3">
    <p>앞뒤 공백 제거 : {{myText3}}</p>

    <h3>입력폼 활용</h3>
    <p>이름 : <input v-model.lazy="myName"></p>
    <input type="radio" v-model="myColor" value="red">빨강<br>
    <input type="radio" v-model="myColor" value="green">녹색<br>
    <input type="radio" v-model="myColor" value="blue">파랑<br>
    <input type="radio" v-model="myColor" value="yellow">노랑<br>
    <input type="radio" v-model="myColor" value="grey">회색<br><br>
    내 이름은 {{myName}}이고 좋아하는 색은 {{myColor}} 입니다.

  </div>

  <script>
    new Vue({
      el : "#app",
      data : {
        myText : '',
        myText2 : '',
        myNumber : 0,
        myText3 : '',
        myName : '',
        myColor : ''
      }
    })
  </script>

</body>
</html>