<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  
  <h2>ToDo리스트</h2>
  <div id="app">
    <div v-for="todo in todos"> 
      <label>
                              <!-- todo.done : 객체에 있는 값을 가져와서 쓰기위해 선언함-->
        <input type="checkbox" v-model="todo.done">
        <span :class="{donestyle:todo.done}"> <!-- :class는 v-bind:class와 같음-->
          {{todo.text}}
        </span>
      </label>
    </div>
    <p>{{remaining}}/{{todos.length}}</p>
  </div>

  <script>
    new Vue({
      el : "#app",
      data : {
        todos : [
          {done : false, text : '빵사기'},
          {done : false, text : '커피사기'}
        ]
      },
      computed : { // computed에선 return문이 반드시 필요함
        remaining : function(){
          return this.todos.filter(function(val){
            return val.done; // todos[i].done이 true인것들만 리턴
          }).length; // true의 갯수가 몇개인지 체크
        }
      }
    })
  </script>


  <style>
    .donestyle{
      text-decoration: line-through;
      color : red;
    }
  </style>


</body>
</html>