<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<script>

  // vue.js => Vue 객체(컴포넌트)의 조합

  // Vue 객체의 속성
  // 공통 속성
  // data : Vue가 다룰 데이터 => 프로퍼티(변수, CRUD 가능)
  // computed : Vue가 다룰 데이터 => 산출 프로퍼티(읽기 전용)
            // data 속성과 반드시 연결 되어있어야함(의존적)
  // watch : data 혹은 computed, 정의되어 있는 모든 프로퍼티를 감시함
            // 변화 발생시 => 미리 정의한 내용을 실행
  // methods : Vue안에서 사용할 모든 함수를 정의(주로 이벤트 핸들러)
            // 대표적으로 click이 있음
  // template : Vue 객체가 가지고 있는 tag(기본 배경)
  //===========================
  // 그외
  // props : 외부에서 들어오는 정보를 담는 프로퍼티
  // $emit : 자식이 부모 컴포넌트에 있는 이벤트를 발생 시킴

</script>

<body>
  
  <div id="app">
    <h3>참여자 명단</h3>
    <p>현재 참여자 수 : {{count}}명</p>
    <input-component v-on:insert-user-info="counting"></input-component> <!-- 부모꺼 -->
  </div>

  <script>
    const printComponent = { // inputComponent의 자식
      template : `<div>
                    <p> 이름 : {{name}}, 나이 : 만 {{age -1}}, : 소속 : {{dept}}</p>
                  </div>`,
      props : {
        name : String,
        age : {
          type : Number,
          default : -1
        },
        dept : String
      }
    }

    const inputComponent = { // 자식
      template : `<div>
                    <div>
                      <div>
                        <label for="user_name">이름</label>
                        <input type="text" id="user_name" v-model="userName">
                      </div>
                      <div>
                        <label for="user_age">나이</label>
                        <input type="text" id="user_age" v-model.number="userAge">
                      </div>
                      <div>
                        <label for="user_dept">소속</label>
                        <select id="user_dept" v-model="userDept">
                          <option>학생</option>
                          <option>교수</option>
                        </select>
                        <div>
                          <h2>등록 예정 참여자 정보</h2>
                          <p>이름 : {{userInfo.name}}</p>
                          <p>나이 : {{userInfo.age}}</p>
                          <p>소속 : {{userInfo.dept}}</p>
                        </div>
                        <button v-on:click="insertUsers">등록</button>
                      </div>
                      <div>
                        <print-component v-for="item in userList" v-bind="item"></print-component>
                      </div>
                    </div>
                  </div>`,
      data : function(){
        return {
          userName:'',
          userAge : 0,
          userDept : '',
          userList:[]
        }
      },
      computed:{
        userInfo : function(){
          return {
            name : this.userName,
            age : this.userAge,
            dept:this.userDept
          }
        }
      },
      methods:{
        insertUsers : function(){
          this.userList.push(this.userInfo); // 작성한 userInfo 등록
          // 등록후 입력폼 초기화
          this.userName = '';
          this.userAge = 0;
          this.userDept = '';

          this.$emit('insert-user-info'); // 부모의 counting 메소드를 실행시킴
        }
      },
      components : {
        'print-component' : printComponent // 자식을 선언
      }
    }

    new Vue({
      el : '#app',
      data : {
        count : 0
      },
      components : {
        'input-component' : inputComponent
      },
      methods : {
        counting : function (){
          this.count++;
        },
        today : function(){
          let today = new Date(); // 현재 날짜 및 시간
          let year = today.getFullYear(); 

          //console.log('today.getMonth()' + today.getMonth());
          // slice() - 문자열을 잘라옴 => 양수 : 왼쪽에서 부터 자름 / 음수 : 오른쪽에서부터 자름
          // 한자리수는 앞에 0이 붙은채로 나옴 단, 두자리수 이상은 ex) 012일때 뒤에서 두개짤라와야하므로
          let month = ('0' + (today.getMonth() + 1)).slice(-2); 

          //console.log('today.getDate()' + today.getDate());
          // 한자리수는 앞에 0이 붙은채로 나옴 단, 두자리수 이상은 ex) 012일때 뒤에서 두개짤라와야하므로
          let day = ('0' + (today.getDate())).slice(-2); 

          return year + '-' + month + '-' + day;
        }
      },
      watch : {
        count : function(){ // count가 변하면 실행 = 학생이나 교수가 등록되면 실행
          let pTag = document.querySelector('p'); // <p>현재 참여자 수 : {{count}}명</p>
          let message = document.createElement('p'); // p태그 생성
          message.textContent = this.today() + '기준으로 최종 업데이트 되었습니다.' // innerText도 가능
          pTag.after(message); // <p>현재 참여자 수 : {{count}}명</p> 뒤에 생성됨
        }
      }
    })
  </script>

</body>
</html>